
.hidden {
    display:none;

}
.question {

}
.information {
    background-color:lightyellow;
    opacity: 0.8;
}
body {
padding-top: 20px;
padding-bottom: 40px;
background-image: url('../img/background.jpg');
background-repeat:no-repeat;
background-size:cover;
}
/* Custom container */
.container-narrow {
margin: 0 auto;
max-width: 700px;
background-color: white;
padding: 25px;
}
.container-narrow > hr {
margin: 30px 0;
}


/* Main marketing message and sign up button */
.jumbotron {
margin: 60px 0;
text-align: center;
}
.jumbotron h1 {
font-size: 72px;
line-height: 1;
}
.jumbotron .btn {
font-size: 21px;
padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
margin: 60px 0;
}
.marketing p + h4 {
margin-top: 28px;
}


