<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/application.js"></script>

    <link rel="stylesheet" type="text/css" href="static/css/application.css">
    {% if title %}
    <title>{{title}} - Too damn high</title>
    {% else %}
    <title>Too Damn High -- Calculate the cost-per-use of your fitness purchase</title>
    {% endif %}


  </head>

  <body>

  <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
           <li>
           {% if user %}
               <a href="{{ url_for("logout") }}">Logout</a>
           {%  else %}
            <a href="{{ url_for("login") }}">Login</a>
           {%  endif %}
           </li>
        </ul>
      </div>

       <h3 class="muted">What is the cost-per-use of your fitness purchase?</h3>

      <hr>

       {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class=flashes>
        {% for category, message in messages %}
          <div class="alert alert-{{ category}}">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ message }}
          </div>
        {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
   </div>
  </body>
</html>