<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/application.js"></script>

    <link rel="stylesheet" type="text/css" href="static/css/application.css">
    {% if title %}
    <title>{{title}} - Too damn high</title>
    {% else %}
    <title>Too Damn High -- Calculate the cost-per-use of your fitness purchase</title>
    {% endif %}


  </head>

  {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
  {% endwith %}

  <body>
    <div id="container">
    {% if user %}
    <a href="{{ url_for("logout") }}">Logout</a>
    {%  else %}
    <a href="{{ url_for("login") }}">Login</a>
    {%  endif %}

    <h2>Calculate the cost-per-use of your fitness purchase</h2>
    {% block content %}{% endblock %}
    </div>
  </body>
</html>