{% extends "base.html" %}

{% block content %}

<p class="lead">{{ user.name }},</br>
You paid {{ user.cost }}$ for your  {{ user.thingy|lower }}
and you've used it: {{  user.frequency }} times </br>
so your cost per use is <strong> {{ cost_per_use }}$.</strong> </p>

<div id="update"><h2 class="muted"><a href="#">Update your times</a> and lower your cost per use!</h2>

<div id="update_form" class="hidden">

<P>How many more times have you used your thingy?</P>

<form class="form-inline" method="post" action="update">
        <input type="text" class="input-small" name="update_frequency" placeholder="X">
        <button type="submit" class="btn">Update</button>
    </form>

</div>


{% endblock %}





